- page_title "Bork project"

.row.prepend-top-default
  .col-lg-3
    %h4.prepend-top-0
      Bork project
    %p
      A bork is a copy of a project.
      %br
      Borking a repository allows you to make changes without affecting the original project.
  .col-lg-9
    .bork-namespaces
      - if @namespaces.present?
        %label.label-light
          %span
            Click to bork the project to a user or group
          - @namespaces.in_groups_of(6, false) do |group|
            .row
              - group.each do |namespace|
                - avatar = namespace_icon(namespace, 100)
                - if bork = namespace.find_bork_of(@project)
                  .bork-thumbnail.borked
                    = link_to project_path(bork) do
                      - if /no_((\w*)_)*avatar/.match(avatar)
                        .no-avatar
                          = icon 'question'
                      - else
                        = image_tag avatar
                      .caption
                        = namespace.human_name
                - else
                  .bork-thumbnail
                    = link_to namespace_project_borks_path(@project.namespace, @project, namespace_key: namespace.id), method: "POST" do
                      - if /no_((\w*)_)*avatar/.match(avatar)
                        .no-avatar
                          = icon 'question'
                      - else
                        = image_tag avatar
                      .caption
                        = namespace.human_name
      - else
        %label.label-light
          %span
            No available namespaces to bork the project.
            %br
            %small
              You must have permission to create a project in a namespace before borking.

    .save-project-loader.hide
      .center
        %h2
          %i.fa.fa-spinner.fa-spin
          Borking repository
        %p Please wait a moment, this page will automatically refresh when ready.
